#task-details {
  text-align: center;
  display: none;
}
.radio {
  text-align: right;
}

.task {
  cursor: pointer;
  color: red;
}

.task:hover {
  text-decoration: underline;
}

.task-completed {
  color: green;
  cursor: pointer;
}

#instruction {
  display: none;
}
